*{
  box-sizing: border-box;
}

body {
  background-color: white;
  height: 100%;
  width: 100%;
  margin:0;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  color: White;
  font-size: 100px;
  text-align: center;
  display:block;
  margin-block: 100px;
}
div.main-container {
  display:flex;
  flex-direction: column;
  border: white solid 10px;
}

footer{
  margin-top: 15px;
  flex: 1;
  background-color: lightgray;
  width: auto;
  height: auto;
  background-size: 100%;
  padding-bottom: 50px;
 
}

header{
  background-image: url(./NASA.jpg);
  background-size: 100%;
  vertical-align: middle;
}

section.skills{
  display: flex;
  flex-direction: column;
}

section.skills div.skills{
  display: flex;
  flex: 2;
  align-items: flex-start;
  justify-content: space-evenly;
}

section.skills div.skills div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


 div.box2{
  background-color: white;
  width: 20px;
  border: 1px white;
  padding: 10px;
  margin: 0px;
  display: flex;
  }

  div.box3{
    background-color: white;
    width: 50px;
    border: 1px white;
    padding: 20px;
    margin: 0px;
    display: flex;
    }

    div.box4{
      background-color: rgb(74, 74, 74);
      width: 50%;
      padding: 10px;
      margin-top: 10px;
      display: flex;
      }
  

    h3{
      font-family: Arial, sans-serif;
      font-weight: bolder;
      
    } 

    
    p{
      font-size: 12px;
      font-family: Arial, sans-serif;
      line-height: 20px;
    }

    p2{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      line-height: 25px;
    }

    p3{
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      font-weight: bold;
    }